<h1> Username: <%= @fit.username %></h1>
<p> Muscles targeted: <%=@fit.target_muscle %></p>
<p> Description: <%=@fit.body %> </p>
<p> Days trained: <%=@fit.days_trained %> </p>
<p> Diet: <%=@fit.diet %> </p>
<p> Maximum reps: <%= @fit.reps %>  </p>
<!-- a href only gets -->
<a href="/<%= @fit.id %>/edit">edit</a> 

<!-- Create a delete button -->

<form method="POST" action="/<%= @fit.id%>">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete">
</form>